<!DOCTYPE html>

<html>
    <head>
        <title>Vue Js Practice</title>
        <style>
            .page-container {
                padding: 1rem 2rem;
            }
            div {
                margin-bottom: 4rem;
            }
            .green-text {
                color: green;
            }
        </style>
    </head>

    <body>
        <div id="root" class="page-container">

            <div>
                <h2>Using v-model to data bind variables to dom</h2>
                <input type="text" name="input" v-model="message">
                <p>The value of the input is: {{message}}</p>
            </div>

            <div>
                <h2>Using v-for to iterate through an array and display as an unordered list</h2>
                <ul>
                    <li v-for="name in names">{{ name }}</li>
                </ul>
                <input type="test" name="addName" v-model="newName">
                <button @click="addName">Add Name</button>
            </div>

            <div>
                <h2>Here is a use of v-bind</h2>
                <p :class="green">Testing out v-bind, setting the class to a variable in Vue instance</p>
            </div>


        </div>

        <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>

        <script>
            /*
            let data = {
                message: "Hello World"
            };
            */

            new Vue({
                el: "#root",
                data: {
                    message: "Hello World",
                    newName: "",
                    names: ['Joe', 'Mary', 'Jane', 'Jack'],
                    green: 'green-text'

                },
                methods: {
                    addName() {
                        this.names.push(this.newName);
                        this.newName = "";
                    }
                },
                mounted() {
                    //alert('ready');
                }
            })
        
        </script>
    </body>

</html>